/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');

* { margin: 0;
    padding: 0;
    box-sizing: border-box; }

body { font-family: 'montserrat', sans-serif;
    line-height: 1.6;
    color: #333; }

/* HEADER */
.site-header { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 2rem;
    background: #faebd7; 
    z-index: 10;
    width: 100%; }

.main-nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    background: #faebd7; }

.main-nav a {
    text-decoration: none;
    color: inherit; }

/* HERO */
.hero {
    height: 750px;
    background: #869782;
    position: relative;
    margin-top: 0; }

.hero-image { 
    width: 100%;
    height: 800px;
    margin: auto;
    background: #c9c9c9;
    display: block; }

h1 { font-family: 'playfair display', serif;
    font-size: 4em; 
    color: #fffdf2; }

.title { position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    margin: 0;
    padding: 2rem 2rem 1rem;
    border-radius: 8px;
    max-width: 600px;
    text-shadow: #333 1px 1px 4px;
    text-align: center; }

/* Site Introduction */
.intro { padding: 2rem;
    max-width: 800px;
    margin: -100px auto 0;
    background: rgba(255, 232, 217, 0.897);
    z-index: 10;
    position: relative;
    font-family: 'Quicksand', sans-serif; }

.intro h2 { text-align: center; }

/* Site Direction by Region */
.regions { display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    gap: 1.5rem; }

.region-title { width: 100%;
    text-align: center;
    font-family: 'Playfair Display', serif; }

.region-image img { 
    width: 400px;
    height: 200px;
    object-fit: cover;
    background: #dcdcdc;
    margin-bottom: 1rem;
    border: 2px solid #333;}

/* Quote Section */
.quote {
    padding: 2rem;
    background: #a0ac9d;
    text-align: center;
    font-style: italic; }

/* Safety Section */
.safety {
    padding: 2rem;
    max-width: 100%;
    margin: auto;
    overflow: auto; }

.safety h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'quicksand', sans-serif;
    border-bottom: #333 2px solid; }

.safety-text {
    max-width: 850px;
    margin: auto;
    font-family: 'quicksand', sans-serif;
    line-height: 1.5;
    font-size: 1rem; }

.safety-image img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    background: #d0d0d0;
    margin-bottom: 1rem;
    float: left;
    margin-right: 1.5rem;
    display: block; }

/* Form Section */
.recommend-form {
    padding: 2rem;
    width: 45%;
    float: left;
    box-sizing: border-box; }

.recommend-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem; }

.recommend-form input,
.recommend-form textarea {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ccc; }

.region-form {
    padding: 1rem 0; }

.region-form fieldset {
    border: 1px solid;
    padding: 1.25rem;
    border-radius: 6px; }

.region-form legend {
    padding: 0 0.5rem; }

.radio-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0;
    padding-left: 1rem; }

.radio-row input[type="radio"] {
    width: 1rem;
    height: 1rem; }

/* Google Map Area */
.map {
    padding: 2rem;
    width: 55%;
    float: right;
    box-sizing: border-box; }

.map-placeholder {
    width: 100%;
    height: 500px;
    background: #d0d0d0;
    margin-top: 1rem; }

/* SubPages Styles */
/* Northern AZ Video Section */
.video-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto; }

.video-info {
    margin-left: 0;
    margin-right: 0; }

.video-info h2 { margin: 0 0 0.5rem; }

.video-wrapper { width: 100%; }

.video-placeholder {
    width: 100%;
    padding-top: 56.25%;
    border: 1px solid;
    border-radius: 8px; }

h3 {
    font-family: 'quicksand', sans-serif;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 75px;
    border-bottom: #333 1px solid; }

/* Southern AZ Rooster Cogburn Ostrich Ranch Section */

.ostrich {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
.ostrich-info {
    margin-left: 0; }
.ostrich-info h2 { margin: 0 0 0.5rem; text-align: center; }
.ostrich-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background: #d0d0d0;
    margin-bottom: 1rem;
    border: 1px solid;
    border-radius: 8px; }
.ostrich a {
    display: block;
    margin: 1rem 0;
    text-align: center;}

/* Phoenix Valley - Favorite Cacti Section */
.cacti {
    font-family: 'quicksand', sans-serif;
    font-size: 1rem;
    margin-top: 0.5rem;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; }

.gallery-scroll {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem;
  scroll-snap-type: x mandatory;
  margin-bottom: 75px; }

.gallery-scroll img {
  height: 200px;
  flex-shrink: 0;
  border-radius: 8px;
  scroll-snap-align: start; }



.gallery-scroll figcaption {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-family: 'quicksand', sans-serif;
  color: #555;
  text-align: center; }

/* All Subpages Styles */
/* Hiking Info Table */

.hike-table {
    width: 90%;
    margin: 1rem auto;
    border-collapse: collapse;
    font-size: 1rem; }

.table-title {
    font-family: 'fairplay display', serif;
    text-align: center;
    margin-top: 50px;
    font-size: 2rem; }

.hike-table th,
.hike-table td {
    border: 1px solid #000000;
    padding: 0.25rem;
    text-align: center;
    font-family: 'quicksand', sans-serif;
    font-weight: bold; }

.hike-table thead th {
    background: #a0ac9d;
    font-weight: bold; }

.hike-table input[type="checkbox"] {
    width: 1rem;
    height: 1rem; }

/* Hike List */

.hike-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
    margin-left: 10%;
    margin-right: 10%; }

.hike {
    display: grid;
    grid-template-columns: 30% 65%;
    grid-template-rows: auto;
    row-gap: 5rem;
    column-gap: 2rem;
    align-items: start; }

.hike-image {
    width: 100%;
    height: 210px;
    border: 1px solid;
    border-radius: 8px; }

.hike-text h3 {
    margin: 0 0 0.5rem;
    font-family: 'quicksand', sans-serif;
    font-size: 1.3rem; }

.hike-text p {
    margin: 0;
    font-family: 'quicksand', sans-serif;
    font-size: 0.95rem; }

/* footer */
.site-footer {
    text-align: center;
    padding: 1.5rem;
    margin-top: 2rem;
    background: rgb(253, 242, 234); }

