/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;500&family=Merriweather:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* HEADER */
.site-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1rem;
    background: antiquewhite; 
    z-index: 10;  /* ensures it's on top */
}

.main-nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
}

.main-nav a {
    text-decoration: none;
    color: inherit;
}


/* HERO */
.hero {
    height: 500px;
    background: #869782;
    position: relative;
    margin-top: 80px;
}

.hero-image {
    width: 100%;
    height: 500px;
    margin: auto;
    background: #c9c9c9;
    display: block;
}

h1 {
    font-family: 'playfair display', serif;
    font-size: 2em; 
    color: #fffdf2;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    margin: 0;
    padding: 1.5rem 1rem;
    border-radius: 8px;
    max-width: 90%;
    text-shadow: #333 1px 1px 4px;
    text-align: center;
}

/* INTRO */
.intro {
    padding: 1.5rem;
    max-width: 100%;
    margin: -80px auto 0;
    background: rgba(255, 232, 217, 0.897);
    z-index: 10;
    position: relative;
    font-family: 'Quicksand', sans-serif;
}

.intro h2 {
    text-align: center;
}


/* REGION CARDS */
.regions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.5rem;
    gap: 2rem;
}

.region-card {
    width: 100%;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.image-placeholder img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 300px;
    height: 150px;
    background: #dcdcdc;
    margin-bottom: 1rem;
    border: 2px solid #333;
}

/* QUOTE */
.quote {
    padding: 2rem;
    background: #a0ac9d;
    text-align: center;
    font-style: italic;
    font-family: 'Merriweather', serif;
}

/* SAFETY */
.safety {
    padding: 1.5rem;
    max-width: 100%;
    margin: auto;
    overflow: auto;
}

.safety h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'quicksand', sans-serif;
    border-bottom: #333 2px solid;
}

.safety-image-placeholder img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 300px;
    height: 200px;
    background: #d0d0d0;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* FORM */
.recommend-form {
    padding: 1.5rem;
    width: 100%;
    box-sizing: border-box;
}

.recommend-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.recommend-form input,
.recommend-form textarea {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ccc;
}

.region-form {
    padding: 1rem 0;
}

.region-form fieldset {
    border: 1px solid;
    padding: 1.25rem;
    border-radius: 6px;
}

.region-form legend {
    padding: 0 0.5rem;
}

.radio-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0;
    padding-left: 1rem;
}

.radio-row input[type="radio"] {
    width: 1rem;
    height: 1rem;
}

/* MAP */
.map {
    padding: 1.5rem;
    width: 100%;
    box-sizing: border-box;
}

.map-placeholder {
    width: 100%;
    height: 300px;
    background: #d0d0d0;
    margin-top: 1rem;
}
/* Mobile */
@media (min-width: 600px) {
    .main-nav ul {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5rem;
        font-size: 1rem;
        background: antiquewhite;
    }

    .site-header {
        padding: 1.2rem 2rem;
        background: antiquewhite;
    }
    
    .site-header {
        width: 100%;
    }
    .hero {
        height: 600px;
        margin-top: px;
    }

    .hero-image {
        height: 600px;
    }

    h1 {
        font-size: 3em;
    }

    .title {
        padding: 2rem 1.5rem;
        max-width: 600px;
    }
    .intro {
        padding: 2rem;
        max-width: 850px;
        margin: -100px auto 0;
    }
    .regions {
        flex-direction: row;
        padding: 2rem;
        gap: 1.5rem;
    }

    .image-placeholder img {
        max-width: 350px;
        height: 175px;
    }
    .safety {
        padding: 2rem;
        max-width: 1000px;
    }

    .safety-image-placeholder img {
        max-width: 350px;
        height: 250px;
        float: left;
        margin-right: 1.5rem;
        margin-bottom: 1rem;
        display: block;
    }
    .recommend-form {
        padding: 2rem;
    }

    .map {
        padding: 2rem;
    }

    .map-placeholder {
        height: 400px;
    }
}

/* Tablet */
@media (min-width: 1024px) {
    .hero {
        height: 750px;
        margin-top: 0;
    }

    .hero-image {
        height: 800px;
    }

    h1 {
        font-size: 4em;
    }

    .title {
        padding: 2rem 2rem 1rem;
        max-width: 600px;
    }
    .intro {
        padding: 2rem;
        max-width: 800px;
    }
     .regions {
        padding: 2rem;
    }

    .image-placeholder img {
        width: 400px;
        height: 200px;
    }
    .safety {
        padding: 2rem;
    }

    .safety-image-placeholder img {
        width: 400px;
        height: 300px;
    }
    .recommend-form {
        padding: 2rem;
        width: 45%;
        float: left;
    }

    .map {
        padding: 2rem;
        width: 55%;
        float: right;
    }

    .map-placeholder {
        height: 500px;
    }
}

/* Northern AZ Styles */
/* Video Section */
.video-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.video-info {
    margin-left: 1rem;
    margin-right: 1rem;
}

.video-info h2 {
    margin: 0 0 0.5rem;
}

.video-wrapper {
    width: 100%;
}

.video-placeholder {
    width: 100%;
    padding-top: 56.25%; /* 16:9 */
    border: 1px solid;
    border-radius: 8px;
}

.table-title h2 {
    font-family: 'merriweather', serif;
    text-align: center;
    margin-top: 2rem;
}

.hike-table {
    width: 95%;
    margin: 1rem auto;
    border-collapse: collapse;
    font-size: 0.9rem;
}

.hike-table th,
.hike-table td {
    border: 1px solid #000000;
    padding: 0.25rem;
    text-align: center;
    font-family: 'quicksand', sans-serif;
    font-weight: bold;
}

.hike-table thead th {
    background: #a0ac9d;
    font-weight: 600;
}

.hike-table input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

/* Hike List */
.hike-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    margin-left: 5%;
    margin-right: 5%;
}

.hike {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 1rem;
    column-gap: 2rem;
    align-items: start;
}

.hike-image {
    width: 100%;
    height: 150px;
    border: 1px solid;
    border-radius: 8px;
}

.hike-text h3 {
    margin: 0 0 0.5rem;
    font-family: 'quicksand', sans-serif;
    font-size: 1.1rem;
}

.hike-text p {
    margin: 0;
    font-family: 'quicksand', sans-serif;
    font-size: 0.95rem;
}

/* FOOTER */
.site-footer {
    text-align: center;
    padding: 1.5rem;
    margin-top: 2rem;
    background: rgb(253, 242, 234);
}

/* Tablet */
@media (min-width: 1024px) {
    .video-section {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-top: 5rem;
    }

    .table-title h2 {
        margin-top: 100px;
    }

    .hike-table {
        width: 90%;
        font-size: 1rem;
    }

    .hike-list {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 4rem;
    }

    .hike {
        grid-template-columns: 30% 65%;
        row-gap: 5rem;
    }

    .hike-image {
        height: 210px;
    }

    .hike-text h3 {
        font-size: 1.3rem;
    }
}
/* Tablet */
@media (min-width: 600px) {
    .video-section {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-top: 4rem;
    }

    .video-info {
        margin-left: 0;
        margin-right: 0;
    }
    
    .table-title h2 {
        margin-top: 3rem;
    }

    .hike-table {
        width: 90%;
        font-size: 0.95rem;
    }

    .hike-list {
        margin-left: 7%;
        margin-right: 7%;
        margin-top: 3rem;
    }

    .hike {
        grid-template-columns: 35% 60%;
    }

    .hike-image {
        height: 180px;
    }

    .hike-text h3 {
        font-size: 1.2rem;
    }
}

